@import '~antd/dist/antd.css';

.ant-page-header {
  background-color: #131921;
}

.ant-page-header-heading{
  display: flex;
  justify-content: left;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.searchBar {
  /* margin-top: 9px;
  padding-top: 3px; */
  margin-top: 4px;
  width: calc(100vw - 710px);
}

.ant-input-search-button{
  background-color: #fdb13f;
  border-color: #fdb13f;
}

.ant-input-search-button:hover{
  background-color: #FF9900;
  border-color: #FF9900;
  cursor: pointer;
}

.login{
  padding: 5px 30px;
  margin-top:4px;
  font-weight: bold;
  background-color: #fdb13f ;
  border-color: #fdb13f;
  border: solid 2px #fdb13f;
  color: white;
}

.login:hover{
  background-color: #FF9900;
  border: solid 2px white;
  color: white;
}

.login:focus{
  background-color: #FF9900;
  border: solid 2px white;
  color: white;
}

.wallet{
  padding: 3px 5px;
  font-weight: bold;
  border: 5px 5px;
  background-color: #fd653f ;
  border-color: #fd653f;
  border: solid 2px #fd653f;
  color: white;
}

.wallet:hover{
  background-color: #fd653f;
  border: solid 2px white;
  color: white;
}

.wallet:focus{
  background-color: #fd653f;
  border: solid 2px white;
  color: white;
}

.connect-wallet {
  background-color: black;
}

.wallet-button{
  background-color: #fd653f;
}

.walletBtn {
  height: 37px;
  background: rgb(255, 247, 0);
  width: 120px;
  color:rgb(0, 179, 255);
}

.connectBtn {
  height: 37px;
  background: rgb(0, 179, 255);
  width: 120px;

}

.wrongBtn {
  height: 37px;
  background: rgb(255, 68, 0);
  width: 120px;
}